:root {
  --aspect-ratio : calc(3/4) ;
  --base-w: 1vw ; /* 基础值 保持3/4的屏幕比*/
  --base-h: calc(1vw / var(--aspect-ratio)) ;
  @media (min-aspect-ratio: 3/4){
      --base-w : calc(1vh *var(--aspect-ratio)) ; 
      --base-h : 1vh ;
  }
}

.OverlayPage{
    position: fixed;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: calc(var(--base-w)*100);
    height: calc(var(--base-h)*100);
    top: calc(50vh - calc(var(--base-h)*50));
    left:calc(50vw - calc(var(--base-w)*50));
  }
  
  .OverlayPageButton{
    min-width: calc(var(--base-w)*25);
    min-height: calc(var(--base-w)*6);
    background-color: #adc0c7;
    border-radius: calc(var(--base-w)*2);
    border:calc(var(--base-w)*2) ;
  }
  
  .OverlayPageButton:hover,.OverlayPagecloseButton:hover{
    background-color: #cad5d9;
  }
  
  .OverlayPageButton:active{
    min-width: calc(var(--base-w)*25) ;
    min-height: calc(var(--base-w)*6);
    border:1px solid rgb(166, 172, 172);
  }

  .OverlayPagecloseButton{
    font-size: calc(var(--base-w)*6);
    position: absolute;
    right:calc(var(--base-w)*5);
    top:calc(var(--base-w)*5);
    z-index: 10;
    min-width: calc(var(--base-w)*10);
    min-height: calc(var(--base-w)*10);
    border-radius: calc(var(--base-w)*5);
  }

  .OverlayPagecloseButton:active{
    min-width: calc(var(--base-w)*12);
    min-height: calc(var(--base-w)*12);
    right:calc(var(--base-w)*4);
    top:calc(var(--base-w)*4);
    border-radius: calc(var(--base-w)*6);
    border:2px solid rgb(166, 172, 172);
  }