:root {
  --aspect-ratio : calc(3/4) ;
  --base-w: 1vw ; /* 基础值 保持3/4的屏幕比*/
  --base-h: calc(1vw / var(--aspect-ratio)) ;
  @media (min-aspect-ratio: 3/4){
      --base-w : calc(1vh *var(--aspect-ratio)) ; 
      --base-h : 1vh ;
  }
}

.App {
  text-align: center;
  margin:auto;
  width: calc(var(--base-w)*100);
  height: calc(var(--base-h)*100);
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}